body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Login */
.form-login-all {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: stretch;
  margin: 20px;
}

.sett-btn {
  width: 300px;
}

/* Game Page */
.game-all {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.game-title {
  color: red;
  font-size: 50px;
}

.questionBox {
  align-items: center;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  max-width: 80%;
  min-width: 70%;
}

.timer {
  float: right;
}

.correct-answer {
  border: solid 1px black;
  margin: 3px;
}

.incorrect-answer {
  border: solid 1px black;
  margin: 3px;
}

.next-btn {
  border: 2px black solid;
  font-weight: 600;
  height: 20px;
  width: 200px;
}

.nada {
  color: white;
}

/* Header */
.header-all {
  background-color: rgb(68, 130, 130);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

/* Feedback */
.header-feedback {
  background-color: rgb(68, 130, 130);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}

.feed-text-int {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.btn-play-again {
  height: 25px;
  margin: 5px;
  width: 150px;
}

.btn-ranking {
  height: 25px;
  margin: 5px;
  width: 150px;
}

/* Ranking */
.ranking-all {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.lista-ranking {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Geral */
button {
  border-radius: 10px;
}
